{% extends "base.html" %}
{% block start %}

<div class="container mt-5 , card" >
  <div class="card-header, col-6 mx-auto" style="text-align: center;"><h2>Add Receipe</h2></div>
    <form method="post" class="card-body ,  p-3 shadow-lg" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
          <label for="Receipe" class="form-label, card-title" name="receipe_name">Receipe</label>
          <input name="receipe_name" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label, card-title" name="receipe_description">Receipe Description</label>
          <textarea class="form-control" name="receipe_description"></textarea>
        </div>
        <div class="mb-3 form-check">
          <label for="exampleInputPassword1" class="form-label, card-title" name="receipe_image" >Receipe image</label>
          <input name="receipe_image" type="file" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

{% endblock %}