<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Getting the from the template folder</h1>
    {{peoples}}

    <table border="solid" >
        <tr>
            <th>Sr.no</th>
            <th>Names</th>
            <th>Age</th>
            <th>Can Vote</th>
        </tr>
        {% for people in peoples %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ people.name }}</td>
            <td>{{ people.age }}</td>
            <td {% if people.age < 18 %} style="background: red;" {% endif %} style="align-items: center;">
                {% if people.age >= 18 %}
                    😗
                {% else %}
                    😭
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>